.title{
    text-align: center;
    margin-top: 50px;
}
.menu{
    display: flex;
    justify-content: center;
    
}
.menu ul{
    display: flex;
    justify-content: center;
    
}
.menu ul li{
    list-style: none;
    margin-left: 45px;
    padding: 40px;
}
.menu ul li a{
    color: #bab9b9;
    text-decoration: none;
    transition: 0.3s;
}
.menu ul li a:hover{
    color: #4581b7;
}
.header{
    text-align: center;
}
.secition{
    width: 1110px;
    margin:auto;
    display: flex;
    margin-top: 30px;
    
    
}
.secition .left{
    width: 750px;
    margin-right: 30px;
    background: #f0f0f0;
}
.secition h3{
    padding-top: 50px;
    padding-left: 40px;
    color:#4581b7;
}
.secition .left .text{
    margin-top: 25px;
    padding-left: 40px;
    padding-right: 30px;
}
.secition .right{
    width: 350px;
    background: #f0f0f0;
    padding-right: 55px;
    padding-left: 40px;
}
.text{
    color: #7f7f7f;
}
.text2{
    color: #7f7f7f;
}
.tel{
    color: #7f7f7f;
}
.email{
    color: #7f7f7f;
}
.end{
    display: flex;
    width: 1110px;
    height: 150px;
    margin: auto;
    padding-left: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #f0f0f0;
    margin-top: 30px;
    height: 150px;
    
}
.nomer{
    margin-left: 650px;
    margin-top: 40px;
    margin-right: 40px;
    color: #808080;
    
}
.raqam{
  margin-top: 15px;
  font-size: 20px;
}
